.container {
  margin-top: 2rem;
  width: 100%;
}

.name {
  font-size: 1.5rem;
}

.flag {
  width: 100%;
}

.flag img {
  width: 100%;
}

.infoGroup {
  margin: 2.5rem 0;
}

@media (min-width: 600px) {
  .flag {
    display: inline-block;
    width: 49%;
    vertical-align: middle;
    padding-right: 2rem;
  }

  .info {
    display: inline-block;
    width: 49%;
    vertical-align: middle;
  }

  .infoGroup {
    display: inline-block;
    width: 49%;
    vertical-align: top;
  }
}
