.filters {
  position: relative;
  margin: 1rem;
}

.filters svg {
  position: absolute;
  transform: scale(2);
  top: 1.1rem;
  left: 1.8rem;
  color: hsl(0, 0%, 52%);
}

.filters input {
  width: 100%;
  margin: auto;
  border: none;
  padding: 1rem;
  padding-left: 4rem;
  border-radius: 6px;
  box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.1);
}

.filters select {
  padding: 1rem;
  padding-right: 3rem;
  border: none;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  margin-top: 2rem;
}

@media (min-width: 600px) {
  .filters {
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
  }

  .filters input {
    width: 50%;
    max-width: 500px;
    margin: 0;
  }

  .filters select {
    margin: 0;
  }
}
