.list {
  list-style-type: none;
  padding: 0;
  margin-top: 2rem;
  width: 80%;
  margin: auto;
}

@media (min-width: 600px) {
  .list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media (min-width: 1440px) {
  .list {
    display: grid;
    grid-template-columns: repeat(4, 322.5px);
    grid-gap: 50px;
  }
}
